{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-sm bg-light">
   <ul class="navbar-nav">
      <li class="nav-item">
         <a class="nav-link tablinks w3-btn" data-toggle="tooltip" title="Renseigner/modifier le salaire">Salaire du mois : {% if not income %} Aucun salaire renseigné {% endif %} {{ income }}</a>
      </li>
      <li class="nav-item">
         <button class="nav-link tablinks w3-button" onclick="openCity(event, 'fixed_expenses')">Charges fixes</button>
      </li>
      <li class="nav-item">
         <button class="nav-link tablinks w3-button" onclick="openCity(event, 'variable_expenses')">Charges variables</button>
      </li>
      <li class="nav-item">
         <button class="nav-link tablinks w3-button" onclick="openCity(event, 'instalment')">Paiements en plusieurs fois</button>
      </li>
   </ul>
</nav>
<!-- Card Header - Dropdown -->
<div class="d-flex justify-content-between">

<div class="row">

<div class="col-6">

<div class="text-left ml-2" style="border-right:1px #808080 solid; height:100%;">
<h3><i class="fas fa-angle-double-right"></i> Récapitulatif des dépenses payées</h3>
   </div>
</div>

   <div class="col-6">

      <div id="fixed_expenses" class="tabcontent w3-animate-left">
         <h3><i class="fas fa-angle-double-right"></i> Dépenses fixes</h3>
         {% for fixedSpending in fixedSpendings %}
         <ul>
            <li>{{ fixedSpending.name }} 
               :
               {% if fixedSpending.isPaid %}
               Dépense payée {{ fixedSpending.amount }} € - Indiquer la dépense comme étant non payée <button class="btn btn-danger isNotpaid" id="{{ fixedSpending.id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
               {% else %}
               {{ fixedSpending.amount }} € Non payée, date prélèvement : {{ fixedSpending.date |date("m/d/Y") }} Indiquer cette dépense comme étant payée <button class="btn btn-primary ispaid" id="{{ fixedSpending.id }}"><i class="fas fa-check"></i></button>
               {% endif %} 
            </li>
         </ul>
         {% endfor %}
      </div>


      <div id="variable_expenses" class="tabcontent w3-animate-left" style="display:none">
         <h3><i class="fas fa-angle-double-right"></i> Dépenses variables</h3>
         {% for variableSpending in variableSpendings %}
         <ul>
            <li>{{ variableSpending.name }} 
               :
               {% if variableSpending.isPaid %}
               Dépense payée {{ variableSpending.amount }} € - Indiquer la dépense comme étant non payée <input class="btn btn-danger isNotpaid" id="{{ variableSpending.id }}" type="submit">
               {% else %}
               {{ variableSpending.amount }} € Non payée, date prélèvement : {{ variableSpending.date |date("m/d/Y") }} Indiquer cette dépense comme étant payée <button class="btn btn-primary ispaid" id="{{ variableSpending.id }}"><i class="fa fa-times" aria-hidden="true"></i></button>
               {% endif %} 
            </li>
         </ul>
         {% endfor %}
      </div>

      <div id="instalment" class="tabcontent w3-animate-left" style="display:none">
         <h3><i class="fas fa-angle-double-right"></i> Paiements en plusieurs fois</h3>
         {% for spendingPaidByInstalment in spendingsPaidByInstalment %}
         <ul>
            <li>{{ spendingPaidByInstalment.name }} - {{ spendingPaidByInstalment.instalmentAmount }}</li>
         </ul>
         {% endfor %}
      </div>
   </div>
</div>

            <script>
			$(document).ready(function(){

			 // Ajax request which updates the batch remaining quantity
            $(document).on('click', '.ispaid', function(){
                // return;
                var id = $(this).attr('id');
				var val = true;
				var content = 'Dépense mise à jour'

                $.ajax({ 
				type: 'POST',
                url: '{{ path('spending_set_is_paid') }}',
                data: {
                    val: val,
                    id: parseInt(id)
                },	
                success: function (data) {
                   console.log('ok')
                },
                error: function (data) {
                   console.log('error')
                }
                    });

				$(this).parent().html(content);

            });

			 $(document).on('click', '.isNotpaid', function(){
                // return;
                var id = $(this).attr('id');
				var val = 0;
				var content = 'Dépense mise à jour'

                $.ajax({ 
				type: 'POST',
                url: '{{ path('spending_set_is_paid') }}',
                data: {
                    val: val,
                    id: parseInt(id)
                },	
                success: function (data) {
                   console.log('ok')
                },
                error: function (data) {
                   console.log('error')
                }
                    });

				$(this).parent().html(content);

            });
			
			});
			
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

			{% endblock %}
