{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

<div class="row">
<div class="col-4">

{{ form_start(form)}}
{{ form_row(form.date) }}
{{ form_row(form.amount) }}
{{ form_row(form.name) }}
{{ form_row(form.is_by_instalment) }}

<div class="isbyinstalment" style="display:none">
{{ form_row(form.nb_instalments) }}
{{ form_row(form.instalment_ending_date) }}
</div>

{{ form_row(form.is_fixed_cost) }}
{{ form_row(form.saveAndAdd) }}

{{ form_end(form)}}

</div>
</div>
</div>

<script>
    $(document).ready(function() {
  
    $("#spending_is_by_instalment").change(function() {
    if(this.checked) {
        //Do stuff
      $('.isbyinstalment').show("slow");
    }
     if(!this.checked) {
        //Do stuff
      $('.isbyinstalment').hide("slow");
    }
  });
});

// Set input date to today
Date.prototype.toDateInputValue = (function() {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0,10);
});

document.getElementById('js-datepicker').value = new Date().toDateInputValue();

</script>
<script>

    $(document).ready(function() {
        // you may need to change this code if you are not using Bootstrap Datepicker
        $('.js-datepicker').datepicker({
            format: 'yyyy-mm-dd'
        });
    });
</script>


{% endblock %}